

/*banner*/

.banner-principal{
	background: url(images/banner-idea-servicios.png) no-repeat top right #03A9F4;
	background-position: 140% 0;
  position: relative;


	


}

.circ1{
   background: url(images/icon-banner-globe-05.png) no-repeat;
  width: 51px;
  height: 52px;
  position: absolute;
  top: 32%;
  right: 40.7%;
}

.circ2{
      background: url(images/icon-banner-globe-06.png) no-repeat;
   width: 59px;
   height: 60px;
   position: absolute;
   top: 46%;
   right: 27.7%;
}


.circ3{
     background: url(images/icon-banner-globe-07.png) no-repeat;
   width: 52px;
   height: 52px;
   position: absolute;
   top: 29%;
   right: 15.7%;
}


.circ4{
    background: url(images/icon-banner-globe-08.png) no-repeat;
   width: 79px;
   height: 80px;
   position: absolute;
   top: 54%;
   right: 11.7%;
}



.banner-principal-wrapper{
	max-width: 1100px;
	margin: 0 auto;
	padding: 8% 25px 8% 25px; 
}


.banner-principal-wrapper h1{
	color: white !important;
line-height:52px !important;
font-size:36px !important;
font-weight:400 !important;
}


.boldeado{
	font-size: 42px !important;
font-weight: 700;
}

/*cuerpo servicio*/

.cuerpo-servicios{
		max-width: 750px;
	margin: 0 auto;
	padding: 25px 0;

}

.intro-servicios{

	max-width: 600px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;

}

.intro-servicios h1{
	opacity: 0.8;
color: black;
font-size: 31px;
font-weight: 700;
line-height: 21px;
}

.intro-servicios p{
	opacity: 0.5;
color: black;
font-size: 16px;
font-weight: 400;
line-height: 21px;
}


/*timeline*/


.contenedor-timeline{
    margin:35px 0;
    position:relative;
   
}

.contenedor-timeline:before{
     content: '';
    position:absolute;
    left:50%;
    top:0;
    width:5px;
    height:100%;
    background:#d7e4ed;
    
    
}


.bloque{
   
    position:relative;
}

.pointer{
    position:absolute;
    width:50px;
    height:50px;
    left:50%;
     border-radius: 50%;
  top:0;
  margin-left:-23px;
  background-color: #3f51b5;
border: 5px solid #fafafa;
    
}

.pointer img{
     display: block;
  width: 20px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}


.identidad{
	background: url(images/identidadimg.png) no-repeat top #fff;
}

.diseno{
	background: url(images/identidad.png) no-repeat top #fff;
}

.desarrollo{

	background: url(images/desarrollo.png) no-repeat top #fff;

}

.apps{

	background: url(images/app.png) no-repeat top #fff;

}


.content-general{
	
border-radius: 2px;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
padding:28% 30px 25px 30px;
margin-left:0;
width:34%;
}

.content-general:before{
     content: '';
  position: absolute;
  top: 16px;
  left: 45.5%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid white;
    
}


.content-general h1{
   color: #3f51b5 !important;
font-size: 21px !important;
font-weight: 400 !important;
line-height: 25px !important;
text-align: left;
}

.content-general p{
  color: rgba(0,0,0,.5);

    text-align: left;
    margin: 5px 0 !important;

}


.content-jj{
     background-color: white;
border-radius: 2px;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
padding:28% 30px 25px 30px;
margin-left:0;
width:34%;
float:right;
}



.content-jj:before{
     content: '';
  position: absolute;
  top: 16px;
  right: 45.4%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
    
}



.content-jj h1{
    color: #3f51b5 !important;
font-size: 21px !important;
font-weight: 400 !important;
line-height: 25px !important;
text-align: left;
}

.content-jj p{
    color: rgba(0,0,0,.5);

    text-align: left;
    margin: 5px 0 !important;
}

.content-jj a, .content-general a {
	text-align: center;

}